#profile-name span {
    color: #338F4D;
}
#profile-name{
    color: black;
}
body{
    background-color: whitesmoke;
}
#up-body{
    background-color: rgb(82, 204, 129);
    min-height: 16rem;
    border-radius: 10px 10px 0px 0px;
}
#down-body{
    background-color: #F7ECDE;
}
#profile-image{
    position: relative;
    top: 2rem;
    left: 5rem;
    height: 15rem;
}

#profile-image:hover{
    box-shadow: 8px -8px 20px rgba(0,0,0,0.2), -8px 8px 20px rgba(0,0,0,0.2);
}
#name-section h1,h2{
    color: white;
}

a.fa {
  padding: 10px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-telegram {
  background: #0088cc;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
#down-text{
    color: black;
    margin-bottom: auto;
}
#email{
    color: #2D8F8A;
    text-decoration: none;
}
#email:hover{
    color: #B8405E;
}
#mobile{
    color: #2D8F8A;
    text-decoration: none;
}
#mobile:hover{
    color: #B8405E;
}
#down-link{
    color: #2D8F8A;
    text-decoration: none;
}
#down-link:hover{
    color: #B8405E;
}
#cv-button{
    color: rgb(99, 248, 99);
}
.list-item{
    color: tomato;
}
#more{
    color: #313552;
    margin-top: 25px;
}
#details{
    color: #313552;
    text-align: justify;
}
#detail{
    color: #2D8F8A;
}
@media screen and (max-width: 720px) {

  #profile-image{

    position: relative;

    top: 2rem;

    left: 5.2rem;

}
