#profile-name span {
    color: #2afb3c;
}
#profile-name{
    color: white;
}
body{
    background-image: url("/img/abcd.jpg");
    background-size: 100%;
#up-body{
    background-color: rgb(82, 204, 129);
    min-height: 16rem;
    border-radius: 10px 10px 0px 0px;
}
#down-body{
    background-color: rgb(232, 236, 234);
    min-height: 16rem 
}
/* #main-content-area{
    height: 50%;
} */
#profile-image{
    position: relative;
    top: 3rem;
    left: 3rem;
    height: 15rem;
}
#social-link i {
    font-size: 2rem;
}
#name-section h1,h2{
    color: white;
}
#down-text{
    color: white;
}
#addrees{
    color: tomato;
    text-decoration: none;
}
#down-link{
    color: rgb(21, 243, 21);
    text-decoration: none;
}
#cv-button{
    color: rgb(99, 248, 99);
}
#detail{
    color: rgb(15, 167, 15);
}
.list-item{
    color: tomato;
}
